canvasapi==3.5.0
Flask==3.1.3
Flask-Caching==2.3.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
mysqlclient==2.2.8
git+https://github.com/ucfopen/pylti1.3.git@master
redis==7.4.0
requests==2.33.1
rq==2.7.0
SQLAlchemy==2.0.49
pycryptodome
gunicorn==23.0.0
