/* Custom (non-template) styles */

#users, #selected_users {
    vertical-align: top;
}

#user_list, #selected_user_list {
    margin: 10px 0px;
    display: block;
    height: 333px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 4px;
}

#user_list p {
    text-align: center;
    margin-top: 50px;
}

#modal_selected_user_list {
    max-height: 200px;
    overflow: auto;
    display: block;
}

#form_div, #selected_header {
    width: 100%;
    height: 35px;
    text-align: center;
}

#selected_header h4 {
    margin: 0px;
    padding: 8px;
}

#container {
    width: 70%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#modal_percent_added {
    font-weight: bold;
}

footer {
    font-size: 14px;
    margin: 20px 0px;
    text-align: center;
}

#table_div {
    max-height: 300px;
    overflow: auto;
    display: block;
}

td {
    text-align: left;
}

.status-perc {
    font-size: 30px;
}

.user {
    padding-left: 20px;
    padding-right: 20px;
}
