body {
    font-size: 100%;
}

h1 {
    text-align: center;
    padding: 2px;
    font-size: 1.6em;
    line-height: 40px;
    margin: 20px 0px 12px 0px;
}

p {
    text-align: center;
    margin-bottom: 40px;
}

form .ratio button {
    margin-bottom: 10px;
}

ul.this_icons {
    list-style-type: none;
}

ul.this_icons li {
    display: inline-block;
    width: 110px;
    text-align: center;
    margin-bottom: 20px;
}

ul.this_icons li p {
    margin-bottom: 5px;
}

.template_wrapper {
    text-align: center;
}

form {
    display: inline-block;
}

input[type="search"] {
    margin-bottom: 0px;
    margin-left: 0px;
}

label {
    cursor: default;
}

button, input[type="submit"] {
    height: 30px;
    background-color: white;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear, box-shadow linear;
    -webkit-transition-delay: 0.2s, 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    font-family: "Helvetica Neue", 'Helvetica', 'Arial', sans-serif;
    background: #ffeeb1;
    border: 1px solid;
    border-color: rgba(100,100,100,0.05) rgba(200,200,200,0.1) rgba(0,0,0,0.15);
    padding: 4px 10px;
    font-size: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(255,255,255,1.0);
    background-image: linear-gradient(to bottom, #ffeeb1, #e0be46);
    background-repeat: repeat-x;
}

form.ratio {
    float: left;
}

form.ratio, #results_filter {
    margin-bottom: 20px;
}

form.csv {
    float: none;
}

#bottom {
    text-align: center;
    margin: 10px;
}

input[type="search"].ratio {
    width: 35px;
}

#bottom button {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
}

.breadcrumbs a {
    font-size: 18px;
    color: #e0be46;
    text-decoration: underline;
}

.breadcrumbs .current {
    color: black;
    font-size: 18px;
    text-decoration: underline;
}

.breadcrumbs a:hover {
    color: black;
}

.breadcrumbs li:after {
    font-size: 18px;
    content: "/";
    padding: 5px;
    color: #888;
}

.breadcrumbs {
    text-align: center;
    margin-bottom: 20px;
}

.breadcrumbs li {
    display: inline;
}

button:hover, input[type="submit"]:hover {
    color: #333333;
    border-color: rgba(0,0,0,0.05) rgba(0,0,0,0.05) rgba(0,0,0,0.05);
    background: #eacd68;
}

footer {
    font-size: 14px;
    margin: 20px 0px;
    text-align: center;
}

#searches {
    width: 80%;
    margin: 0 auto;
}
.exam_list, .class_list {
    margin-left: 10%;
}

/* Modify datatables styles */
#results_filter {
    float: right;
}

#results_wrapper {
    width: 80%;
    margin: 0 auto;
}

/* Custom (non-template) styles */
#lists {
    width: 80%;
    border: 1px solid black;
    display: inline-block;
}

#users, #selected_users {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
}

#user_list, #selected_user_list {
    margin: 0px;
    display: block;
}

#user_list li.user, #selected_user_list li.user {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

#container {
    border: 1px solid black;
    width: 100%;
}

#modal_percent_added {
    font-weight: bold;
}